
/* Estilos da Aula 02 */
* {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0; /* espacamento interno ou espansao */
}

body {
    margin-right: 10px;
    margin-left: 10px;
    background-image: url(../images/fundo01.jpeg);
    background-attachment: fixed;
}

#topo {
    width: 100%; /* largura */
    height: 100px; /* altura */
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 16px;
    background-color: rgba(128, 0, 128, 0.5);
}

#corpo {
    width: 100%; /* largura */
    height: 550px; /* altura */
    margin-bottom: 10px;
    padding: 16px;
    background-color: rgba(138, 43, 226, 0.2);
}

#rodape {
    width: 100%; /* largura */
    height: 150px; /* altura */
    padding: 16px;
    margin-bottom: 10px;
    background-color: rgb(238, 130, 238, 0.7);
}
