/* Seletor Global */

* {
    margin: 0; /* margem */
    padding: 0; /* espacamento */
}

/* tag HTML */
body {
    font-family: Arial, Verdana, Helvetica, sans-serif;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}